finalWithFirebase.json
[
    {
        "id": "ca325aaf4a15f98c",
        "type": "tab",
        "label": "Welcome flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b5b87dd574b63a2b",
        "type": "ui_form",
        "z": "ca325aaf4a15f98c",
        "name": "Login form",
        "label": "",
        "group": "77229db0388e207c",
        "order": 2,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "Email",
                "value": "email",
                "type": "email",
                "required": true,
                "rows": null
            },
            {
                "label": "Mật khẩu",
                "value": "pwd",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "email": "",
            "pwd": ""
        },
        "payload": "",
        "submit": "Đăng nhập",
        "cancel": "",
        "topic": "loginInfo",
        "topicType": "str",
        "splitLayout": false,
        "className": "loginform",
        "x": 330,
        "y": 540,
        "wires": [
            [
                "d1a70ed9772460b3"
            ]
        ]
    },
    {
        "id": "c1a2eef6a5905216",
        "type": "ui_button",
        "z": "ca325aaf4a15f98c",
        "d": true,
        "name": "Create an account?",
        "group": "77229db0388e207c",
        "order": 3,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Tạo tài khoản mới?",
        "tooltip": "",
        "color": "",
        "bgcolor": "grey",
        "className": "createacc-button",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 720,
        "wires": [
            [
                "ef4f99fb99adfc56"
            ]
        ]
    },
    {
        "id": "d81fdc13647a295a",
        "type": "ui_ui_control",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "events": "change",
        "x": 800,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "ef4f99fb99adfc56",
        "type": "function",
        "z": "ca325aaf4a15f98c",
        "name": "changeUI",
        "func": "msg.payload = {\n    group:{\n        hide: [\"Welcome_Login\"],\n        show: [\"Welcome_Signup\"]\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 720,
        "wires": [
            [
                "d81fdc13647a295a"
            ]
        ]
    },
    {
        "id": "050e41da6926c88a",
        "type": "function",
        "z": "ca325aaf4a15f98c",
        "name": "changeUI",
        "func": "msg.payload = {\n    group: {\n        show: [\"Welcome_Login\"],\n        hide: [\"Welcome_Signup\"],\n    },\n    tabs: {\n        show: [\"Welcome\", \"Dashboard\"]\n    },\n    tab: \"Welcome\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 320,
        "wires": [
            [
                "2102af00efe91d1d"
            ]
        ]
    },
    {
        "id": "2102af00efe91d1d",
        "type": "ui_ui_control",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "events": "change",
        "x": 800,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "4292b0d693484f84",
        "type": "ui_form",
        "z": "ca325aaf4a15f98c",
        "d": true,
        "name": "Sign up form",
        "label": "",
        "group": "40f9b51bc8382105",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Email",
                "value": "email",
                "type": "email",
                "required": true,
                "rows": null
            },
            {
                "label": "Mật khẩu",
                "value": "pwd",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "email": "",
            "pwd": ""
        },
        "payload": "",
        "submit": "Đăng kí",
        "cancel": "",
        "topic": "signupInfo",
        "topicType": "str",
        "splitLayout": "",
        "className": "signupform",
        "x": 330,
        "y": 600,
        "wires": [
            [
                "94f185760e32ee1f"
            ]
        ]
    },
    {
        "id": "9446d79b6bae6eae",
        "type": "switch",
        "z": "ca325aaf4a15f98c",
        "name": "loginCheck",
        "property": "email",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 1170,
        "y": 540,
        "wires": [
            [
                "ec8208edf089f6c6"
            ],
            [
                "6ec9a77dc8e74084"
            ]
        ]
    },
    {
        "id": "ec8208edf089f6c6",
        "type": "function",
        "z": "ca325aaf4a15f98c",
        "name": "true",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 840,
        "wires": [
            [
                "f3ccdf3d76c50954",
                "d88638c4c0d16462",
                "6df6da944e478839",
                "8ba91e07425409a1"
            ]
        ]
    },
    {
        "id": "6ec9a77dc8e74084",
        "type": "function",
        "z": "ca325aaf4a15f98c",
        "name": "false",
        "func": "msg.payload = \"Đăng nhập không thành công\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 440,
        "wires": [
            [
                "730babd706f89434"
            ]
        ]
    },
    {
        "id": "94f185760e32ee1f",
        "type": "function",
        "z": "ca325aaf4a15f98c",
        "name": "return signupInfo",
        "func": "msg.signupInfo = msg.payload\n\nconst user = global.get(\"user\");\n\nfor (let i = 0; i < user.length; i++) {\n    if ( user[i].email === msg.signupInfo.email)\n      return {email: null}\n  }\n\nuser.push({\n  email: msg.signupInfo.email,\n  pwd: msg.signupInfo.pwd\n})\n\nglobal.set(\"user\", user);\n\nreturn {email: msg.signupInfo.email,\npayload:{\n  email: msg.signupInfo.email,\n  pwd: msg.signupInfo.pwd\n}};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 600,
        "wires": [
            [
                "02ada87a7208c5b0",
                "091c340fe0f59166"
            ]
        ]
    },
    {
        "id": "02ada87a7208c5b0",
        "type": "switch",
        "z": "ca325aaf4a15f98c",
        "name": "signupCheck",
        "property": "email",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 1170,
        "y": 600,
        "wires": [
            [
                "ec8208edf089f6c6"
            ],
            [
                "53c5957157d3730b"
            ]
        ]
    },
    {
        "id": "d4b2de698982cee8",
        "type": "ui_toast",
        "z": "ca325aaf4a15f98c",
        "position": "dialog",
        "displayTime": "8",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "unsuccessful msg",
        "x": 1430,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "53c5957157d3730b",
        "type": "function",
        "z": "ca325aaf4a15f98c",
        "name": "false",
        "func": "msg.payload = \"Email đã được đăng kí\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 560,
        "wires": [
            [
                "d4b2de698982cee8"
            ]
        ]
    },
    {
        "id": "d3ec87f960d50338",
        "type": "ui_button",
        "z": "ca325aaf4a15f98c",
        "name": "Back to login",
        "group": "40f9b51bc8382105",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Quay trở lại",
        "tooltip": "",
        "color": "",
        "bgcolor": "grey",
        "className": "back-button",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 660,
        "wires": [
            [
                "051a3ae234453051"
            ]
        ]
    },
    {
        "id": "f831bbf9c71cf6b8",
        "type": "ui_ui_control",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "events": "change",
        "x": 800,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "051a3ae234453051",
        "type": "function",
        "z": "ca325aaf4a15f98c",
        "name": "changeUI",
        "func": "msg.payload = {\n    group:{\n        show: [\"Welcome_Login\"],\n        hide: [\"Welcome_Signup\"]\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 660,
        "wires": [
            [
                "f831bbf9c71cf6b8"
            ]
        ]
    },
    {
        "id": "f643eaef0e2d7b78",
        "type": "ui_text",
        "z": "ca325aaf4a15f98c",
        "group": "77229db0388e207c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Welcome text",
        "label": "CHÀO MỪNG ĐẾN ",
        "format": "HỆ THỐNG MÁI CHE THÔNG MINH",
        "layout": "col-center",
        "className": "welcome-text",
        "style": true,
        "font": "",
        "fontSize": "30",
        "color": "#0094ce",
        "x": 340,
        "y": 780,
        "wires": []
    },
    {
        "id": "3e85af4ee8938708",
        "type": "ui_template",
        "z": "ca325aaf4a15f98c",
        "group": "40f9b51bc8382105",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n#Welcome_Login,\n#Welcome_Signup{\n    margin-top: 6rem !important;\n}\n\n.welcome-text{\n    font-weight: 650;\n}\n\n.loginform, .signupform{\n    margin: 0.5rem auto !important;\n    max-width: 25rem;\n    position: absolute !important;\n    top: 20% !important;\n    left: 33.5% !important;\n    /* margin-top: 0.5rem !important; */\n}\n\n.loginform [type=submit],\n.signupform [type=submit]{\n    max-width: 10rem;\n    max-height: 3rem;\n    line-height: 3rem !important;\n}\n\n.createacc-button{\n    max-width: 10rem;\n    max-height: 3rem;\n    position: absolute !important;\n    top: 75% !important;\n    left: 43% !important;\n}\n\n.back-button{\n    max-width: 10rem;\n    max-height: 3rem;\n    position: absolute !important;\n    top: 75% !important;\n    left: 43% !important;\n}\n\n.logout-button{\n    max-width: 8rem !important;\n    max-height: 3rem;\n    line-height: 3rem !important;\n    position: absolute !important;\n    top: 2rem !important;\n    left: 68rem !important;\n}\n\n.humidchart{\n    margin-left: 6rem !important;\n}\n\n.humidchart,\n.tempchart{\n    margin-top: 6rem !important;\n}\n\n.nr-dashboard-ui_statetrail{\n    top: 40rem !important;\n}\n\n.label_rainchart{\n    top: 40rem !important;\n    font-weight: 500;\n    height: 3rem !important;\n}\n\n#Dashboard_Account_cards{\n     margin-top: 0rem !important;\n     margin-bottom: 0rem !important;\n}\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 1400,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "730babd706f89434",
        "type": "ui_toast",
        "z": "ca325aaf4a15f98c",
        "position": "dialog",
        "displayTime": "8",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "unsuccessful msg",
        "x": 1430,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "d88638c4c0d16462",
        "type": "ui_text",
        "z": "ca325aaf4a15f98c",
        "group": "7991592a2dc8b4d8",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Chào mừng ",
        "format": "{{msg.email}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#0094ce",
        "x": 1730,
        "y": 440,
        "wires": []
    },
    {
        "id": "6eab9ed51facaa15",
        "type": "ui_ui_control",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "events": "change",
        "x": 1940,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "f3ccdf3d76c50954",
        "type": "function",
        "z": "ca325aaf4a15f98c",
        "name": "changeUI",
        "func": "msg.payload = {\n    tab: \"Dashboard\",\n    group: {\n        show: [\"Dashboard_Account\"]\n    }, \n    tabs:{\n        show: [\"Welcome\", \"Dashboard\"]\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 380,
        "wires": [
            [
                "6eab9ed51facaa15"
            ]
        ]
    },
    {
        "id": "f987111b64020e71",
        "type": "ui_chart",
        "z": "ca325aaf4a15f98c",
        "name": "temp chart",
        "group": "574ae0b3482dc46e",
        "order": 1,
        "width": "5",
        "height": "5",
        "label": "Nhiệt độ (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Chưa có dữ liệu ",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "tempchart",
        "x": 2550,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "38fba2a93c25c290",
        "type": "function",
        "z": "ca325aaf4a15f98c",
        "name": "Temperature generate",
        "func": "\n\nmsg.payload = [{\n    \"series\": [\"Nhiệt độ\"],\n    \"data\": [\n        msg.temp\n    ],\n    }]\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2280,
        "y": 1440,
        "wires": [
            [
                "f987111b64020e71"
            ]
        ]
    },
    {
        "id": "17bc35653fb41616",
        "type": "ui_button",
        "z": "ca325aaf4a15f98c",
        "name": "logout button",
        "group": "7991592a2dc8b4d8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Đăng xuất",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "logout-button",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1730,
        "y": 500,
        "wires": [
            [
                "91efae4305375d70"
            ]
        ]
    },
    {
        "id": "2f442319b6b35d4c",
        "type": "ui_text",
        "z": "ca325aaf4a15f98c",
        "group": "40f9b51bc8382105",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Welcome text",
        "label": "CHÀO MỪNG ĐẾN ",
        "format": "HỆ THỐNG MÁI CHE THÔNG MINH",
        "layout": "col-center",
        "className": "welcome-text",
        "style": true,
        "font": "",
        "fontSize": "30",
        "color": "#0094ce",
        "x": 340,
        "y": 840,
        "wires": []
    },
    {
        "id": "32921490091ffcb3",
        "type": "firebase-get",
        "z": "ca325aaf4a15f98c",
        "name": "GET user",
        "constraint": {},
        "database": "e06e2b12d2b78bdf",
        "outputType": "auto",
        "passThrough": true,
        "path": "user",
        "pathType": "str",
        "useConstraint": false,
        "x": 320,
        "y": 440,
        "wires": [
            [
                "95f7a7897932930b",
                "1cba0296e3ea46ce"
            ]
        ]
    },
    {
        "id": "95f7a7897932930b",
        "type": "function",
        "z": "ca325aaf4a15f98c",
        "name": "return msg.user",
        "func": "msg.user = []\n\nfor (let key in msg.payload) {\n  if (msg.payload.hasOwnProperty(key)) {\n    msg.user.push({\n        email: msg.payload[key].email,\n        pwd: msg.payload[key].pwd})\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 440,
        "wires": [
            [
                "a6d5f7a9c6e85614"
            ]
        ]
    },
    {
        "id": "d1a70ed9772460b3",
        "type": "function",
        "z": "ca325aaf4a15f98c",
        "name": "return msg.loginInfo",
        "func": "msg.loginInfo = msg.payload\n\nconst user = global.get(\"user\");\n\nfor (let i = 0; i < user.length; i++) {\n    if (JSON.stringify(user[i]) === JSON.stringify(msg.loginInfo))\n      return {email: user[i].email}\n  }\n  return {email: null};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 540,
        "wires": [
            [
                "9446d79b6bae6eae"
            ]
        ]
    },
    {
        "id": "091c340fe0f59166",
        "type": "firebase-out",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "database": "e06e2b12d2b78bdf",
        "path": "user",
        "pathType": "str",
        "priority": 1,
        "queryType": "push",
        "x": 1170,
        "y": 660,
        "wires": []
    },
    {
        "id": "c6d86cd7b441ecac",
        "type": "ui_template",
        "z": "ca325aaf4a15f98c",
        "group": "787779f9336aea0e",
        "name": "Nhiệt độ",
        "order": 1,
        "width": 2,
        "height": 1,
        "format": "<head>\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.6.0/font/bootstrap-icons.min.css\">\n    <style>\n        .temp-container {\n            display: flex;\n        }\n\n        .temp-icon {\n            font-size: 60px;\n            color: red;\n            float: right;\n        }\n\n        .temp-text {\n            font-size: 20px;\n            color: black;\n        }\n\n        .temp-value {\n            font-size: 40px;\n            color: black;\n            font-weight: bold;\n        }\n    </style>\n</head>\n\n<body>\n    <div class=\"temp-container\">\n        <i class=\"bi bi-thermometer-half temp-icon\"></i>\n        <span class=\"temperature\">\n        <div class=\"temp-text\">Nhiệt độ</div>\n        <div class=\"temp-value\">\n            <a>{{ msg.payload.temperature }}</a>°C\n        </div>\n    </span>\n    </div>\n</body>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 3120,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "00ca5f1e29e365bd",
        "type": "ui_template",
        "z": "ca325aaf4a15f98c",
        "group": "787779f9336aea0e",
        "name": "Độ ẩm",
        "order": 2,
        "width": 2,
        "height": 1,
        "format": "<head>\n  <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.6.0/font/bootstrap-icons.min.css\">\n  <style>\n  .humid-container {\n    display: flex;\n  }\n\n  .humid-icon {\n    font-size: 60px;\n    color: lightblue;\n    float: right;\n  }\n\n  .humid-text {\n    font-size: 20px;\n    color: black;\n  }\n\n  .humid-value {\n    font-size: 40px;\n    color: black;\n    font-weight: bold;\n  }\n\n  .humidity {\n    margin-left: 10px;\n  }\n</style>\n</head>\n<body>\n<div class=\"humid-container\">\n  <i class=\"bi bi-droplet-half humid-icon\"></i>\n  <span class=\"humidity\">\n    <div class=\"humid-text\">Độ ẩm</div>\n    <div class=\"humid-value\">\n      <a>{{ msg.payload.humidity }}</a>%\n    </div>\n  </span>\n</div>\n</body>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 3110,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "6fd7e7c32f7ba99f",
        "type": "ui_template",
        "z": "ca325aaf4a15f98c",
        "group": "787779f9336aea0e",
        "name": "Thời tiết",
        "order": 3,
        "width": 2,
        "height": 2,
        "format": "<head>\n  <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.6.0/font/bootstrap-icons.min.css\">\n  <style>\n    .weather-text {\n      font-size: 24px;\n      text-align: center;\n    }\n    .weather-icon {\n      font-size: 110px;\n      /* margin: 0 10px; */\n      text-align: center;\n    }\n\n    .cornflowerblue {\n      color: cornflowerblue;\n    }\n\n    .gold {\n      color: gold;\n    }\n  </style>\n</head>\n<body>\n<div class=\"weather-text\">{{msg.payload.text}}</div>\n<div class=\"weather-icon\">\n  <i class=\"bi icon {{msg.payload.icon}} {{msg.payload.color}}\"></i>\n</div>\n</body>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 3120,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "6151741a3a96d3db",
        "type": "ui_template",
        "z": "ca325aaf4a15f98c",
        "group": "787779f9336aea0e",
        "name": "Mái che",
        "order": 4,
        "width": 2,
        "height": 2,
        "format": "<head>\n  <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.6.0/font/bootstrap-icons.min.css\">\n  <style>\n    .canopy-text {\n      font-size: 24px;\n    }\n\n    .canopy-value {\n      font-size: 48px;\n      font-weight: bold;\n      margin-top: 24px;\n    }\n  \n    .canopy {\n      text-align: center;\n    }\n  </style>\n\n</head>\n<body>\n  <div class=\"canopy\">\n    <div class=\"canopy-text\">Mái che</div>\n    <div class=\"canopy-value\">{{msg.payload.text}}</div>\n  </div>\n</body>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 3120,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "7511669780ad8e74",
        "type": "switch",
        "z": "ca325aaf4a15f98c",
        "name": "SwitchWeatherUI",
        "property": "payload.isRaining",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2570,
        "y": 1860,
        "wires": [
            [
                "15047a37f9b31452"
            ],
            [
                "891db25b368e4339"
            ]
        ]
    },
    {
        "id": "891db25b368e4339",
        "type": "template",
        "z": "ca325aaf4a15f98c",
        "name": "SunUI",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"icon\":\"bi-cloud-sun\", \"color\":\"gold\", \"text\":\"Không mưa\"}",
        "output": "json",
        "x": 2830,
        "y": 1880,
        "wires": [
            [
                "6fd7e7c32f7ba99f"
            ]
        ]
    },
    {
        "id": "15047a37f9b31452",
        "type": "template",
        "z": "ca325aaf4a15f98c",
        "name": "RainUI",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"icon\":\"bi-cloud-rain\", \"color\":\"cornflowerblue\", \"text\":\"Mưa\"}",
        "output": "json",
        "x": 2830,
        "y": 1840,
        "wires": [
            [
                "6fd7e7c32f7ba99f"
            ]
        ]
    },
    {
        "id": "e79a101489a30293",
        "type": "switch",
        "z": "ca325aaf4a15f98c",
        "name": "SwitchCanopyUI",
        "property": "payload.isOpen",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2570,
        "y": 1980,
        "wires": [
            [
                "e1a2318b5b83bf77"
            ],
            [
                "3869b02f8584841a"
            ]
        ]
    },
    {
        "id": "e1a2318b5b83bf77",
        "type": "template",
        "z": "ca325aaf4a15f98c",
        "name": "OpenUI",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"text\":\"MỞ\"}",
        "output": "json",
        "x": 2840,
        "y": 1960,
        "wires": [
            [
                "6151741a3a96d3db"
            ]
        ]
    },
    {
        "id": "3869b02f8584841a",
        "type": "template",
        "z": "ca325aaf4a15f98c",
        "name": "CloseUI",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"text\":\"ĐÓNG\"}",
        "output": "json",
        "x": 2840,
        "y": 2000,
        "wires": [
            [
                "6151741a3a96d3db"
            ]
        ]
    },
    {
        "id": "4417778ad4dd7d5e",
        "type": "ui_dropdown",
        "z": "ca325aaf4a15f98c",
        "name": "AutoModeControl",
        "label": "",
        "tooltip": "",
        "place": "",
        "group": "4751b5167ce9e42d",
        "order": 3,
        "width": "2",
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Bình thường",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Phơi đồ",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "automode",
        "x": 3150,
        "y": 1100,
        "wires": [
            [
                "69e852999f3fb745",
                "d089f34f6f5059f8"
            ]
        ]
    },
    {
        "id": "3acf4b8ba6300df7",
        "type": "ui_template",
        "z": "ca325aaf4a15f98c",
        "group": "4751b5167ce9e42d",
        "name": "Template",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .automode {\n        font-size: 24px;\n        color: grey;\n        /* display: none; */\n    }\n    .default-temperature, .default-humidity {\n        font-size: 20px;\n    }\n    .default-temperature .value, .default-humidity .value {\n        font-size: 32px;\n    }\n    \n    .reset-button > button > span {\n        font-size: 20px;\n    }\n\n    .mode-toggle {\n        font-size: 25px;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 1400,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "775cc2f4de6bc85a",
        "type": "ui_switch",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "label": "Bật chế độ tự động",
        "tooltip": "",
        "group": "4751b5167ce9e42d",
        "order": 5,
        "width": "4",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "mode-toggle",
        "x": 3150,
        "y": 1240,
        "wires": [
            [
                "4eb8aae9ca78664e",
                "6a1a99a045aced83"
            ]
        ]
    },
    {
        "id": "7746f1f24810b055",
        "type": "template",
        "z": "ca325aaf4a15f98c",
        "name": "GetDefaultHumidity",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.defaultHumidity}}",
        "output": "str",
        "x": 1970,
        "y": 740,
        "wires": [
            [
                "fa44addc6191cbf7"
            ]
        ]
    },
    {
        "id": "835b422a660fe8de",
        "type": "switch",
        "z": "ca325aaf4a15f98c",
        "name": "SwitchMode",
        "property": "payload.isAuto",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1950,
        "y": 1020,
        "wires": [
            [
                "db3d91a128f461f8"
            ],
            [
                "31cb4da2b764a444"
            ]
        ]
    },
    {
        "id": "114c93a8a084c3e7",
        "type": "template",
        "z": "ca325aaf4a15f98c",
        "name": "GetAutoMode",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.autoMode}}",
        "output": "json",
        "x": 2560,
        "y": 1100,
        "wires": [
            [
                "4417778ad4dd7d5e"
            ]
        ]
    },
    {
        "id": "db3d91a128f461f8",
        "type": "template",
        "z": "ca325aaf4a15f98c",
        "name": "SetModeAndText",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"isAuto\":{{payload.isAuto}}, \"autoMode\":{{payload.autoMode}}, \"text\":\"TỰ ĐỘNG\", \"switchText\":\"Bật\", \"isOpen\":{{payload.isOpen}}}",
        "output": "json",
        "x": 2270,
        "y": 1020,
        "wires": [
            [
                "431683ab16b09557",
                "ad9fea0c20b43f85",
                "d118c1877a20f715",
                "7b48c05f21349e96",
                "114c93a8a084c3e7",
                "1ef1dd0fd020a4fd"
            ]
        ]
    },
    {
        "id": "31cb4da2b764a444",
        "type": "template",
        "z": "ca325aaf4a15f98c",
        "name": "SetModeAndText",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"isAuto\":{{payload.isAuto}}, \"autoMode\":{{payload.autoMode}}, \"text\":\"THỦ CÔNG\", \"switchText\":\"Tắt\", \"isOpen\":{{payload.isOpen}}}",
        "output": "json",
        "x": 2270,
        "y": 1340,
        "wires": [
            [
                "431683ab16b09557",
                "f91c12adb071fa41",
                "c971d5b19e9037e5",
                "1ef1dd0fd020a4fd",
                "114c93a8a084c3e7",
                "ad9fea0c20b43f85"
            ]
        ]
    },
    {
        "id": "431683ab16b09557",
        "type": "ui_template",
        "z": "ca325aaf4a15f98c",
        "group": "4751b5167ce9e42d",
        "name": "Chế độ",
        "order": 2,
        "width": "4",
        "height": "1",
        "format": "<head>\n  <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.6.0/font/bootstrap-icons.min.css\">\n  <style>\n    /* .mode-text {\n      font-size: 20px;\n    } */\n\n    .mode-value {\n      font-size: 35px;\n      font-weight: bold;\n    }\n  \n    .mode {\n      text-align: center;\n    }\n  </style>\n\n</head>\n<body>\n  <div class=\"mode\">\n    <!-- <span class=\"mode-text\"></span> -->\n    <span class=\"mode-value\">CHẾ ĐỘ {{msg.payload.text}}</span>\n  </div>\n</body>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2540,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "ad9fea0c20b43f85",
        "type": "template",
        "z": "ca325aaf4a15f98c",
        "name": "GetSwitchValue",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.isAuto}}",
        "output": "json",
        "x": 2560,
        "y": 1240,
        "wires": [
            [
                "775cc2f4de6bc85a"
            ]
        ]
    },
    {
        "id": "1ef1dd0fd020a4fd",
        "type": "template",
        "z": "ca325aaf4a15f98c",
        "name": "GetAwningStatus",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.isOpen}}",
        "output": "json",
        "x": 2570,
        "y": 1140,
        "wires": [
            [
                "5d365ed65a4b27c0"
            ]
        ]
    },
    {
        "id": "69e852999f3fb745",
        "type": "mqtt out",
        "z": "ca325aaf4a15f98c",
        "d": true,
        "name": "",
        "topic": "project/userChangeAutoMode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e603fe28287a3728",
        "x": 3490,
        "y": 1100,
        "wires": []
    },
    {
        "id": "5d365ed65a4b27c0",
        "type": "ui_dropdown",
        "z": "ca325aaf4a15f98c",
        "name": "AwningControl",
        "label": "",
        "tooltip": "",
        "place": "",
        "group": "4751b5167ce9e42d",
        "order": 4,
        "width": "2",
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Mở mái che",
                "value": true,
                "type": "bool"
            },
            {
                "label": "Đóng mái che",
                "value": false,
                "type": "bool"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "automode",
        "x": 3140,
        "y": 1140,
        "wires": [
            [
                "6d2b9a6f189f0abe",
                "30a2a1a61f4aa78d"
            ]
        ]
    },
    {
        "id": "d118c1877a20f715",
        "type": "change",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2860,
        "y": 1000,
        "wires": [
            [
                "4417778ad4dd7d5e"
            ]
        ]
    },
    {
        "id": "7b48c05f21349e96",
        "type": "change",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2860,
        "y": 1040,
        "wires": [
            [
                "5d365ed65a4b27c0"
            ]
        ]
    },
    {
        "id": "f91c12adb071fa41",
        "type": "change",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2860,
        "y": 1320,
        "wires": [
            [
                "4417778ad4dd7d5e"
            ]
        ]
    },
    {
        "id": "c971d5b19e9037e5",
        "type": "change",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2860,
        "y": 1360,
        "wires": [
            [
                "5d365ed65a4b27c0"
            ]
        ]
    },
    {
        "id": "4923afac69f65fe9",
        "type": "mqtt in",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "topic": "project/data",
        "qos": "2",
        "datatype": "utf8",
        "broker": "e603fe28287a3728",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1950,
        "y": 1740,
        "wires": [
            [
                "d56c82d4995d5019"
            ]
        ]
    },
    {
        "id": "d56c82d4995d5019",
        "type": "json",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 2230,
        "y": 1740,
        "wires": [
            [
                "7511669780ad8e74",
                "e79a101489a30293",
                "c6d86cd7b441ecac",
                "00ca5f1e29e365bd",
                "04707cf94020c089"
            ]
        ]
    },
    {
        "id": "04707cf94020c089",
        "type": "delay",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 2560,
        "y": 1660,
        "wires": [
            [
                "d2ac02c3b0d66894"
            ]
        ]
    },
    {
        "id": "6df6da944e478839",
        "type": "firebase-get",
        "z": "ca325aaf4a15f98c",
        "name": "GET data",
        "constraint": {},
        "database": "e06e2b12d2b78bdf",
        "outputType": "auto",
        "passThrough": true,
        "path": "data",
        "pathType": "str",
        "useConstraint": false,
        "x": 1720,
        "y": 1440,
        "wires": [
            [
                "6f12e91f7d401504",
                "fc6afa1d2c77f9a3"
            ]
        ]
    },
    {
        "id": "6f12e91f7d401504",
        "type": "function",
        "z": "ca325aaf4a15f98c",
        "name": "return data ",
        "func": "msg.temp = []\nmsg.humid = []\nmsg.rain = []\nmsg.open = []\nvar lastRain = false;\nvar lastOpen = false;\n\nfor (let key in msg.payload) {\n  if (msg.payload.hasOwnProperty(key)){ \n    const time = msg.payload[key].time\n    msg.temp.push({\n        x: time, y: msg.payload[key].temp})\n    msg.humid.push({\n        x: time, y: msg.payload[key].humid\n    })\n\n    const rain = msg.payload[key].rain\n    if (msg.rain.length == 0 || lastRain != rain){\n      msg.rain.push({state: rain, timestamp: time})\n      lastRain = rain\n    } \n    // if (rain && !lastRain){\n    //   msg.rain.push(time)\n    //   lastRain = true;\n    // } else if (!rain && lastRain){\n    //   msg.rain.push(time)\n    //   lastRain = false;\n    // }\n\n    const open = msg.payload[key].open\n    if (open && !lastOpen) {\n      msg.open.push(time)\n      lastOpen = true;\n    } else if (!open && lastOpen)\n      msg.open.push(time)\n  }\n}\n  \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1950,
        "y": 1440,
        "wires": [
            [
                "38fba2a93c25c290",
                "c247ee52137eddc9",
                "add389a414e31348"
            ]
        ]
    },
    {
        "id": "faa6a630d34a7ed5",
        "type": "inject",
        "z": "ca325aaf4a15f98c",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 960,
        "wires": [
            [
                "c18e850c894dfc0a"
            ]
        ]
    },
    {
        "id": "bc34edc397ae8921",
        "type": "ui_chart",
        "z": "ca325aaf4a15f98c",
        "name": "humidchart",
        "group": "574ae0b3482dc46e",
        "order": 2,
        "width": "5",
        "height": "5",
        "label": "Độ ẩm (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Chưa có dữ liệu ",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "humidchart",
        "x": 2550,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "c247ee52137eddc9",
        "type": "function",
        "z": "ca325aaf4a15f98c",
        "name": "Humidity generate",
        "func": "\nmsg.payload = [{\n    \"series\": [\"Độ ẩm\"],\n    \"data\": [\n        msg.humid\n    ],\n    }]\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2270,
        "y": 1480,
        "wires": [
            [
                "bc34edc397ae8921"
            ]
        ]
    },
    {
        "id": "add389a414e31348",
        "type": "function",
        "z": "ca325aaf4a15f98c",
        "name": "Rain generate",
        "func": "// var rainChartData = []\n// var rainChartSeries = []\n\n// for (let i = 0; i < msg.rain.length / 2; i++){\n//     rainChartSeries.push(`Lần ${i+1}`)\n//     const time2 = msg.rain[i*2+1] \n//     ? msg.rain[i*2+1] \n//     : (new Date()).getTime()\n\n//     rainChartData.push([\n//         {x: msg.rain[i*2], y: 1},\n//         {x: time2, y: 1}\n//     ])\n// }\n\n// msg.payload = [{\n//     \"series\": rainChartSeries,\n//     \"data\": rainChartData\n//     }]\n\nmsg.payload = [\n            ...msg.rain]\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 1520,
        "wires": [
            [
                "729ccaf1a376cced",
                "c9099a93ce6dee0d",
                "7b83ad3d92adf979"
            ]
        ]
    },
    {
        "id": "11f2446ba1b76732",
        "type": "comment",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "info": "- giới hạn lại thời gian ở chart\n",
        "x": 660,
        "y": 180,
        "wires": []
    },
    {
        "id": "76b5ac208512258e",
        "type": "firebase-out",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "database": "e06e2b12d2b78bdf",
        "path": "data",
        "pathType": "str",
        "priority": 1,
        "queryType": "push",
        "x": 3130,
        "y": 1660,
        "wires": []
    },
    {
        "id": "d2ac02c3b0d66894",
        "type": "function",
        "z": "ca325aaf4a15f98c",
        "name": "return necessary data",
        "func": "const info = {\n    temp: msg.payload.temperature,\n    humid: msg.payload.humidity,\n    rain: msg.payload.isRaining,\n    open: msg.payload.isOpen,\n    time: (new Date()).getTime()\n}\n\nmsg.payload = info\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2880,
        "y": 1660,
        "wires": [
            [
                "76b5ac208512258e"
            ]
        ]
    },
    {
        "id": "c18e850c894dfc0a",
        "type": "firebase-get",
        "z": "ca325aaf4a15f98c",
        "d": true,
        "name": "",
        "constraint": {},
        "database": "e06e2b12d2b78bdf",
        "outputType": "auto",
        "passThrough": true,
        "path": "default",
        "pathType": "str",
        "useConstraint": false,
        "x": 770,
        "y": 940,
        "wires": [
            [
                "3aedf1ccd6c6d4c3"
            ]
        ]
    },
    {
        "id": "3aedf1ccd6c6d4c3",
        "type": "debug",
        "z": "ca325aaf4a15f98c",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 940,
        "wires": []
    },
    {
        "id": "6ec1432142552ecf",
        "type": "template",
        "z": "ca325aaf4a15f98c",
        "name": "GetDefaultTemperature",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.defaultTemperature}}",
        "output": "str",
        "x": 1990,
        "y": 640,
        "wires": [
            [
                "5b5d4b6cbd2a2724"
            ]
        ]
    },
    {
        "id": "5b5d4b6cbd2a2724",
        "type": "ui_numeric",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "label": "Nhiệt độ mở mái che",
        "tooltip": "",
        "group": "9f5f0337d40a444f",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}°C",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "default-temperature",
        "x": 2280,
        "y": 640,
        "wires": [
            [
                "1dadd951ce024257",
                "bda1a9823553518a"
            ]
        ]
    },
    {
        "id": "fa44addc6191cbf7",
        "type": "ui_numeric",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "label": "Độ ẩm báo động",
        "tooltip": "",
        "group": "9f5f0337d40a444f",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "default-humidity",
        "x": 2270,
        "y": 740,
        "wires": [
            [
                "66e950fd468239fc",
                "0ba0a87aecab49c9"
            ]
        ]
    },
    {
        "id": "5ae7045e44f131db",
        "type": "ui_button",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "group": "9f5f0337d40a444f",
        "order": 3,
        "width": 4,
        "height": "1",
        "passthru": false,
        "label": "Trở về cài đặt mặc định",
        "tooltip": "Xóa cài đặt hiện tại và trở về cài đặt mặc định",
        "color": "",
        "bgcolor": "",
        "className": "reset-button",
        "icon": "",
        "payload": "{\"defaultHumidity\": 80, \"defaultTemperature\": 35}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 2290,
        "y": 840,
        "wires": [
            [
                "9e8bc3506e2117a7",
                "80e14983d7f08299"
            ]
        ]
    },
    {
        "id": "9e8bc3506e2117a7",
        "type": "mqtt out",
        "z": "ca325aaf4a15f98c",
        "d": true,
        "name": "",
        "topic": "project/userSetDefaultValues",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e603fe28287a3728",
        "x": 2600,
        "y": 840,
        "wires": []
    },
    {
        "id": "66e950fd468239fc",
        "type": "mqtt out",
        "z": "ca325aaf4a15f98c",
        "d": true,
        "name": "",
        "topic": "project/userSetDefaultHumid",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e603fe28287a3728",
        "x": 2600,
        "y": 740,
        "wires": []
    },
    {
        "id": "1dadd951ce024257",
        "type": "mqtt out",
        "z": "ca325aaf4a15f98c",
        "d": true,
        "name": "",
        "topic": "project/userSetDefaultTemp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e603fe28287a3728",
        "x": 2600,
        "y": 640,
        "wires": []
    },
    {
        "id": "8ba91e07425409a1",
        "type": "firebase-get",
        "z": "ca325aaf4a15f98c",
        "name": "GET setting",
        "constraint": {},
        "database": "e06e2b12d2b78bdf",
        "outputType": "auto",
        "passThrough": false,
        "path": "setting",
        "pathType": "str",
        "useConstraint": false,
        "x": 1730,
        "y": 640,
        "wires": [
            [
                "6ec1432142552ecf",
                "7746f1f24810b055",
                "835b422a660fe8de"
            ]
        ]
    },
    {
        "id": "dcd4eb89066d359a",
        "type": "firebase-out",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "database": "e06e2b12d2b78bdf",
        "path": "setting",
        "pathType": "str",
        "priority": 1,
        "queryType": "update",
        "x": 2860,
        "y": 680,
        "wires": []
    },
    {
        "id": "bda1a9823553518a",
        "type": "function",
        "z": "ca325aaf4a15f98c",
        "name": "return payload",
        "func": "msg.payload = {\"defaultTemperature\": msg.payload}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2560,
        "y": 680,
        "wires": [
            [
                "dcd4eb89066d359a"
            ]
        ]
    },
    {
        "id": "0ba0a87aecab49c9",
        "type": "function",
        "z": "ca325aaf4a15f98c",
        "name": "return payload",
        "func": "msg.payload = {\"defaultHumidity\": msg.payload}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2560,
        "y": 780,
        "wires": [
            [
                "9929e975cc2b2e1f"
            ]
        ]
    },
    {
        "id": "9929e975cc2b2e1f",
        "type": "firebase-out",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "database": "e06e2b12d2b78bdf",
        "path": "setting",
        "pathType": "str",
        "priority": 1,
        "queryType": "update",
        "x": 2860,
        "y": 780,
        "wires": []
    },
    {
        "id": "0ce412d03e97bce7",
        "type": "firebase-out",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "database": "e06e2b12d2b78bdf",
        "path": "setting",
        "pathType": "str",
        "priority": 1,
        "queryType": "update",
        "x": 2860,
        "y": 880,
        "wires": []
    },
    {
        "id": "80e14983d7f08299",
        "type": "function",
        "z": "ca325aaf4a15f98c",
        "name": "return payload",
        "func": "msg.payload = {\n    \"defaultHumidity\": 80,\n    \"defaultTemperature\": 35\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2560,
        "y": 880,
        "wires": [
            [
                "0ce412d03e97bce7"
            ]
        ]
    },
    {
        "id": "d089f34f6f5059f8",
        "type": "function",
        "z": "ca325aaf4a15f98c",
        "name": "return payload",
        "func": "msg.payload = {\n    \"autoMode\": msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3440,
        "y": 1060,
        "wires": [
            [
                "3a93b023bdac9e0b"
            ]
        ]
    },
    {
        "id": "4eb8aae9ca78664e",
        "type": "mqtt out",
        "z": "ca325aaf4a15f98c",
        "d": true,
        "name": "",
        "topic": "project/userChangeMode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "18af26a4e9951e61",
        "x": 3470,
        "y": 1240,
        "wires": []
    },
    {
        "id": "6d2b9a6f189f0abe",
        "type": "mqtt out",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "topic": "project/userOpenAwning",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "18af26a4e9951e61",
        "x": 3470,
        "y": 1140,
        "wires": []
    },
    {
        "id": "b7ef19597d34a7b2",
        "type": "inject",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1730,
        "y": 560,
        "wires": [
            [
                "8ba91e07425409a1"
            ]
        ]
    },
    {
        "id": "d0aa4fbb0ee9ce93",
        "type": "firebase-out",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "database": "e06e2b12d2b78bdf",
        "path": "setting",
        "pathType": "str",
        "priority": 1,
        "queryType": "update",
        "x": 3740,
        "y": 1280,
        "wires": []
    },
    {
        "id": "6a1a99a045aced83",
        "type": "function",
        "z": "ca325aaf4a15f98c",
        "name": "return payload",
        "func": "msg.payload = {\n    \"isAuto\": msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3440,
        "y": 1280,
        "wires": [
            [
                "d0aa4fbb0ee9ce93"
            ]
        ]
    },
    {
        "id": "cc33ac5142482c8a",
        "type": "firebase-out",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "database": "e06e2b12d2b78bdf",
        "path": "setting",
        "pathType": "str",
        "priority": 1,
        "queryType": "update",
        "x": 3740,
        "y": 1180,
        "wires": []
    },
    {
        "id": "30a2a1a61f4aa78d",
        "type": "function",
        "z": "ca325aaf4a15f98c",
        "name": "return payload",
        "func": "msg.payload = {\n    \"isOpen\": msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3440,
        "y": 1180,
        "wires": [
            [
                "cc33ac5142482c8a"
            ]
        ]
    },
    {
        "id": "3a93b023bdac9e0b",
        "type": "firebase-out",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "database": "e06e2b12d2b78bdf",
        "path": "setting",
        "pathType": "str",
        "priority": 1,
        "queryType": "update",
        "x": 3740,
        "y": 1060,
        "wires": []
    },
    {
        "id": "1cba0296e3ea46ce",
        "type": "debug",
        "z": "ca325aaf4a15f98c",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 380,
        "wires": []
    },
    {
        "id": "5ba93ead7e2702e8",
        "type": "inject",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 320,
        "wires": [
            [
                "050e41da6926c88a",
                "32921490091ffcb3"
            ]
        ]
    },
    {
        "id": "91efae4305375d70",
        "type": "function",
        "z": "ca325aaf4a15f98c",
        "name": "changeUI",
        "func": "msg.payload = {\n    tab: \"Welcome\",\n    group: {\n        show: [\"Welcome_Login\"],\n        hide: [ \"Welcome_Signup\"],\n    }, \n    tabs:{\n        show: [\"Welcome\", \"Dashboard\"]\n    }\n}\nmsg.reset = 1\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1940,
        "y": 500,
        "wires": [
            [
                "18edb5dc835edb4c"
            ]
        ]
    },
    {
        "id": "18edb5dc835edb4c",
        "type": "ui_ui_control",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "events": "change",
        "x": 2240,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "a6d5f7a9c6e85614",
        "type": "change",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "user",
                "pt": "global",
                "to": "user",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "fc6afa1d2c77f9a3",
        "type": "debug",
        "z": "ca325aaf4a15f98c",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1850,
        "y": 1340,
        "wires": []
    },
    {
        "id": "ed6d3bd499be51c7",
        "type": "inject",
        "z": "ca325aaf4a15f98c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "25",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1780,
        "y": 1620,
        "wires": [
            [
                "6df6da944e478839"
            ]
        ]
    },
    {
        "id": "729ccaf1a376cced",
        "type": "ui_statetrail",
        "z": "ca325aaf4a15f98c",
        "group": "574ae0b3482dc46e",
        "order": 4,
        "width": "12",
        "height": "2",
        "name": "rainchart",
        "label": "",
        "states": [
            {
                "state": true,
                "col": "#0094fd",
                "t": "bool",
                "label": "Có mưa"
            },
            {
                "state": false,
                "col": "#999999",
                "t": "bool",
                "label": "Không có mưa"
            }
        ],
        "periodLimit": "24",
        "periodLimitUnit": "3600",
        "timeformat": "HH:mm",
        "tickmarks": 4,
        "exactticks": true,
        "persist": false,
        "legend": "1",
        "combine": true,
        "blanklabel": "blank",
        "x": 2540,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "c9099a93ce6dee0d",
        "type": "ui_text",
        "z": "ca325aaf4a15f98c",
        "group": "574ae0b3482dc46e",
        "order": 4,
        "width": "12",
        "height": "1",
        "name": "rainchart label",
        "label": "Thời gian mưa",
        "format": "",
        "layout": "row-center",
        "className": "label_rainchart",
        "style": true,
        "font": "",
        "fontSize": "19",
        "color": "#000000",
        "x": 2560,
        "y": 1560,
        "wires": []
    },
    {
        "id": "7b83ad3d92adf979",
        "type": "debug",
        "z": "ca325aaf4a15f98c",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2540,
        "y": 1600,
        "wires": []
    },
    {
        "id": "77229db0388e207c",
        "type": "ui_group",
        "name": "Login",
        "tab": "fdfbb22524a96141",
        "order": 4,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "40f9b51bc8382105",
        "type": "ui_group",
        "name": "Signup",
        "tab": "fdfbb22524a96141",
        "order": 2,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7991592a2dc8b4d8",
        "type": "ui_group",
        "name": "Account",
        "tab": "df55acb984b0f2d7",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "574ae0b3482dc46e",
        "type": "ui_group",
        "name": "Chart",
        "tab": "df55acb984b0f2d7",
        "order": 5,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e06e2b12d2b78bdf",
        "type": "database-config",
        "name": "My Database",
        "authType": "anonymous",
        "claims": {},
        "createUser": false,
        "useClaims": false
    },
    {
        "id": "787779f9336aea0e",
        "type": "ui_group",
        "name": "THỜI TIẾT VÀ MÁI CHE",
        "tab": "df55acb984b0f2d7",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4751b5167ce9e42d",
        "type": "ui_group",
        "name": "CÀI ĐẶT MÁI CHE",
        "tab": "df55acb984b0f2d7",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e603fe28287a3728",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9f5f0337d40a444f",
        "type": "ui_group",
        "name": "CÀI ĐẶT THÔNG SỐ",
        "tab": "df55acb984b0f2d7",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "18af26a4e9951e61",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fdfbb22524a96141",
        "type": "ui_tab",
        "name": "Welcome",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "df55acb984b0f2d7",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]